<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: api_v1_users_register_path) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "api/v1/users/shared/links" %>
