// Place all the styles related to the api/v1/threads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
  margin: 0;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat {
  margin-top: auto;
  margin-bottom: auto;
}
.hidden{
  visibility: hidden;
}
.card {
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

.container {
  align-content: center;
}

.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  &:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
  &:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
}

.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.send_btn, .search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.contacts {
  list-style: none;
  padding: 0;
  li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
  }
}

.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.offline {
  background-color: #c23616 !important;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  span {
    font-size: 20px;
    color: white;
  }
  p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10vw;
    overflow: hidden;
  }
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
  span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  min-width: 82px;
}

.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 5px;
      i {
        padding-right: 10px;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.inline-block{
  display: inherit;
  width: 90%;
}
.button_this{
  background-color: transparent;
  border: none;
  margin: 0;
}
.label_for_attachment{
  margin-bottom: 0;
}
.attachment_box{
  // display: inline-block;
  
}
.attachment_link{
  font-size: 10px;
  // line-height: .5;
  border: 0.25px white solid;
  width: 10vw;
  // overflow: hidden;
  max-height: 40px;
  display: inline-flex;
  padding: 3px 1px;
}
.attachment_name{
  overflow: hidden;
  width: 86px;

text-overflow: ellipsis;

white-space: nowrap;
}
.attachment_icon{
  height: 20px;
  width: 20px;
}

.d-flex{
  // flex-direction: column
}
@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}