.card-header.msg_head
  .d-flex.bd-highlight
    .img_cont
      %img.rounded-circle.user_img{:src => "#{convo_with[:image]}"}/
      %span.online_icon
    .user_info
      %span
        Chat with 
        = convo_with[:fullname]
      %p
        = messages.count
        Messages
    .video_cam
      %span
        %i.fas.fa-video
      %span
        %i.fas.fa-phone
  %span#action_menu_btn
    %i.fas.fa-ellipsis-v
  .action_menu
    %ul
      %li
        %i.fas.fa-user-circle
        View profile
      %li
        %i.fas.fa-users
        Add to close friends
      %li
        %i.fas.fa-plus
        Add to group
      %li
        %i.fas.fa-ban
        Block
.card-body.msg_card_body.scroll
  - messages.each do |message|
    - if message[:sender_id] == current_user.id 
      .d-flex.mb-4.justify-content-end
        .msg_cotainer_send
          = message[:body]
          = message[:sender_id]
          %span.msg_time
            = message[:created_at]
            -# =participants.select{|p|p.id == current_user.id}.first
              -# message[:sender_id]][:image]
        .img_cont_msg
          %img.rounded-circle.user_img_msg{:src => "#{participants.select{|p|p[:id] == message[:sender_id]}.first[:image]}"}/
    - else
      .d-flex.mb-4.justify-content-start
        .img_cont_msg
          %img.rounded-circle.user_img_msg{:src => "#{participants.select{|p|p[:id] == message[:sender_id]}.first[:image]}"}/
        .msg_cotainer
          = message[:body]
          = message[:sender_id]
          %span.msg_time
            = message[:created_at]
        
.card-footer
  .input-group
    .input-group-append
      %span.input-group-text.attach_btn
        %i.fas.fa-paperclip
    -# = form_tag ajax_v1_reply_conversation_path(@conversation), class: {}, method: :post do
    -#   %textarea.form-control.type_msg{:name => "", :placeholder => "Type your message..."}
    -#   .input-group-append
    -#     %span.input-group-text.send_btn
    -#       %i.fas.fa-location-arrow
    = form_for :thread, url: :ajax_v1_reply_thread,remote: true,html: { class: "inline-block" } do |f|
      = hidden_field_tag(:id, "#{@thread.id}")
      = f.text_area :body, class: 'form-control type_msg',placeholder: "Type your message here", rows: 4, required: true,autofocus: true
      = f.submit "Send Message", class: " input-group-text send_btn"


    -# = form_tag ajax_v1_reply_conversation_path(@conversation), method: :post do
    -#   -# .form-group
    -#   = text_area_tag 'body', nil, cols: 3, class: 'form-control type_msg', placeholder: "Type your message...", required: true
    -#   .input-group-append
    -#     %span.input-group-text.send_btn
    -#       -# %i.fas.fa-location-arrow
    -#       = submit_tag "Send Message", class: 'btn btn-primary fas fa-location-arrow'
:javascript
  $(".scroll").scrollTop($(".scroll")[0].scrollHeight);
