%li.thread{class: "#{thread[:thread_id] == request[:id].to_i ? "active" : ""}",'data-class' => "#{thread[:class]}",'data-thread_id' => "#{thread[:thread_id]}", 'data-user_id'=>"#{thread[:user_id]}"}
  .d-flex.bd-highlight
    .img_cont
      %img.rounded-circle.user_img{:src => thread[:image]}
      %span.online_icon
    .user_info
      %span
        = thread[:fullname]
        = "(you)" if current_user.id == thread[:user_id].to_i
      %p= thread[:last_message]