!!!
%html
  %head
    %link#bootstrap-css{:href => "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    / ---- Include the above in your HEAD tag --------
    %title Chat
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", :integrity => "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.5.0/css/all.css", :integrity => "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js", :type => "text/javascript"}
    / Coded With Love By Mutiullah Samim
  %body#home
    .sign-out
      = link_to "Sign out" ,api_v1_users_sign_out_path, method: :delete
      = current_user.fullname
    - if @threads.present?
      %input#thread_id.hidden{:type => "text", :value => "#{@threads.first.id}"}/
    .container-fluid.h-100
      .row.justify-content-center.h-100
        .col-md-4.col-xl-3.chat
          .card.mb-sm-3.mb-md-0.contacts_card
            .card-header
              .input-group
                %input.form-control.search{:name => "", :placeholder => "Search...", :type => "text"}/
                .input-group-prepend
                  %span.input-group-text.search_btn
                    %i.fas.fa-search
            .card-body.contacts_body
              %ui.contacts#threads
                -# = render partial: 'contacts', collection: @threads, as: :thread ?      
            -# .card-footer
        .col-md-8.col-xl-6.chat
          .card.load_threads
            .card-header.msg_head
            .card-body.msg_card_body.scroll
            .card-footer





