header = '<%= j(render(partial: "api/v1/threads/convo_box/convo_header",:locals => {:convo_with =>@convo_with,:count => @count}))%>'
footer = '<%= j(render(partial: "api/v1/threads/convo_box/convo_footer",:locals => {:obs => @conv,:user_id => @convo_with[:id]}))%>'
$('.card-header.msg_head').html(header);
$('.card-footer').html(footer);
'<% if @messages.present? %>'
body = '<%= j(render(partial: "api/v1/threads/convo_box/convo_body",:locals => {:participants => @participants}, collection: @messages, as: :message))%>'
$('.msg_card_body').html(body);
'<% else %>'
$('.msg_card_body').empty();
'<% end %>'