$('#thread_body').val("");
'<% if @message.present? %>'
    body = '<%= j(render(partial: 'api/v1/threads/convo_box/convo_body',:locals => {:participants => @participants,:message => @message}))%>'
    $('.msg_card_body').append(body);
    $(".scroll").scrollTop($(".scroll")[0].scrollHeight);
'<%else%>'
'<% end%>'

