'<% if @threads.present? %>'
threads = '<%= j(render(partial: "api/v1/threads/contacts",collection: @threads, as: :thread))%>'
console.log('mee');
$('#threads').html(threads);
'<% else %>'
console.log('moo');
$('#threads').empty();
'<% end %>'