
.d-flex.bd-highlight
  .img_cont
    %img.rounded-circle.user_img{:src => "#{convo_with[:image]}"}/
    %span.online_icon
  .user_info
    %span
      Chat with 
      = convo_with[:fullname]
    %p
      = count
      Messages
  .video_cam
    %span
      %i.fas.fa-video
    %span
      %i.fas.fa-phone
%span#action_menu_btn
  %i.fas.fa-ellipsis-v
.action_menu
  %ul
    %li
      %i.fas.fa-user-circle
      View profile
    %li
      %i.fas.fa-users
      Add to close friends
    %li
      %i.fas.fa-plus
      Add to group
    %li
      %i.fas.fa-ban
      Block