- if message[:sender_id] == current_user.id 

  .d-flex.mb-4.justify-content-end
    .msg_cotainer_send
      = message[:body]
      = message[:sender_id]
      %span.msg_time
        = message[:created_at]
    .img_cont_msg
      %img.rounded-circle.user_img_msg{:src => "#{participants.select{|p|p[:id] == message[:sender_id]}.first[:image]}"}/
    - if message[:attachment].present?
      -# .d-flex.mb-4.justify-content-end.attachment_box
      %a.attachment_link{:download => "", :href => "#{message[:attachment]}"}
        %img.attachment_icon{src: "#{message[:icon]}"}
        %span
          %pre.attachment_name= File.basename(message[:attachment].file.path)
          
      
    -# =participants.select{|p|p.id == current_user.id}.first
        -# message[:sender_id]][:image]
    
- else
  .d-flex.mb-4.justify-content-start
    .img_cont_msg
      %img.rounded-circle.user_img_msg{:src => "#{participants.select{|p|p[:id] == message[:sender_id]}.first[:image]}"}/
    .msg_cotainer
      = message[:body]
      = message[:sender_id]
      %span.msg_time
        = message[:created_at]
    - if message[:attachment].present?
      -# .d-flex.mb-4.justify-content-end.attachment_box
      %a.attachment_link{:download => "", :href => "#{message[:attachment]}"}
        %img.attachment_icon{src: "#{message[:icon]}"}
        %span
          %pre.attachment_name= File.basename(message[:attachment].file.path)