.input-group
  -# %input#the-file{'name'=>"file", 'type'=>"file", 'size'=>'100', 'value'=>'Select Files', 'multiple'=>true}
  -# .input-group-append
  -#   %span.input-group-text.attach_btn
  -#     %i.fas.fa-paperclip
  -# = form_tag ajax_v1_reply_conversation_path(@conversation), class: {}, method: :post do
  -# %textarea.form-control.type_msg{:name => "", :placeholder => "Type your message..."}
  -# = hidden_field_tag(:id, "#{obs.id}")
  -# = hidden_field_tag(:class, "#{obs.class}")
  -# = hidden_field_tag(:user_id,"#{user_id}")
  -# .input-group-append
  -#   %span.input-group-text.send_btn.send_message
  -#     %i.fas.fa-location-arrow

  = form_for :thread, url: :ajax_v1_reply_thread,remote: true,html: { class: "inline-block send_message_form",'data-type' => 'js',:multipart => true } do |f|
    -# %input#the-file{'name'=>"file", 'type'=>"file", 'size'=>'100', 'multiple'=>true}
    = hidden_field_tag(:id, "#{obs.id}")
    = hidden_field_tag(:class, "#{obs.class}")
    -# = f.file_field :attachment, class: "input-group-text attach_btn", size: "100"
    %label.label_for_attachment.input-group-append{:for => "file-input"}
      %span.input-group-text.attach_btn
        %i.fas.fa-paperclip
      = f.file_field :attachment, class: "input-group-text attach_btn", size: "100", id: "file-input", hidden: "true"

      -# %input#file-input{:type => "file"}/

    -# = hidden_field_tag(:user_id,"#{user_id}")
    = f.text_area :body, class: 'form-control type_msg',placeholder: "Type your message here", rows: 4, required: true,autofocus: true
    -# = f.submit "Send Message", class: " input-group-text send_btn send_message"
    %button{:type => "submit", :class => "input-group-append button_this"}
      %span.input-group-text.send_btn
        %i.fas.fa-location-arrow
        
    


  -# = form_tag ajax_v1_reply_conversation_path(@conversation), method: :post do
  -#   -# .form-group
  -#   = text_area_tag 'body', nil, cols: 3, class: 'form-control type_msg', placeholder: "Type your message...", required: true
  -#   .input-group-append
  -#     %span.input-group-text.send_btn
  -#       -# %i.fas.fa-location-arrow
  -#       = submit_tag "Send Message", class: 'btn btn-primary fas fa-location-arrow'